<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the HPC Internship Cluster.</title>
</head>
<body>
    <h1>Welcome to {{ minion_id }}</h1>
    <p>This server is managed by Salt</p>
</body>
</html>
